.app-internal-container {
  background: rgba(3,3,3,.3);
  font-family: monospace;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 16px;
  width: calc(100%);
  height: calc(100% - 70px);
  position: fixed;
  overflow: auto;
  font-size: 12px;

  .app-mat-list {
    margin: 16px 24px;
    background-color: #232323;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 0 8px;

    .app-list-item {
      border-bottom: 1px solid #303030;
    }

    h3, p {
      color: #939393;
      font-family: monospace;
    }

    h3 {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
