<nav>
  <a routerLink="/home" class="brand">Angular-Routing-Studies</a>

  <ul class="navigation">
    <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
    <li routerLinkActive="active"><a routerLink="/messages">Messages</a></li>
    <li routerLinkActive="active"><a routerLink="/parent">Parent</a></li>
    <li routerLinkActive="active"><a routerLink="/str-directive">Str Directive</a></li>
    <li routerLinkActive="active"><a routerLink="/attr-directive">Attr Directive</a></li>
    <li routerLinkActive="active"><a routerLink="/directives">Directive Host</a></li>
    <li routerLinkActive="active"><a routerLink="/pipes">Pipes Host</a></li>
    <li routerLinkActive="active"><a routerLink="/decorators">Decorator Host</a></li>
    <li routerLinkActive="active"><a routerLink="/internal">🔗</a></li>
  </ul>
</nav>
