<!-- <div class="styled">
  <h1>This is an Angular App</h1>
  <p>This is just a paragraph...</p>
  <app-chat></app-chat>
  <app-users></app-users>
</div> -->

<!-- String Interpolation Studies-->
<!-- <app-string-interpolation></app-string-interpolation> -->

<!-- Property Binding Studies -->
<!-- <app-property-binding></app-property-binding> -->

<!-- Event Binding Studies -->
<!-- <app-event-binding></app-event-binding> -->

<!-- Model Binding Studies -->
<!-- <h1>@Input</h1>
<app-hello [name]="title"></app-hello>
<app-hello name="{{ title }}"></app-hello>
<hr>
<h1>@Output</h1>
<p>Current value of the Counter is <span [class]="classToSet">{{ counter }}</span></p> -->
<!-- <app-counter-actions (counterChange)="onCounterChange($event)"></app-counter-actions> -->
<!-- <app-counter-actions [(counter)]="counter"></app-counter-actions>
<hr>
<input type="text" [(ngModel)]="title"> -->

<!-- Attribute Binding Studies -->
<!-- <app-attribute-binding></app-attribute-binding> -->

<!-- Class Binding Studies -->
<!-- <app-class-binding></app-class-binding> -->

<!-- Style Binding Studies -->
<!-- <app-style-binding></app-style-binding> -->

<!-- Lifecycle Studies -->
<!-- <app-message-list></app-message-list> -->

<!-- View Queries Studies -->
<!-- <app-alert-list>
  <p>This is the content</p>
  <app-alert #tempAlert [alert]="title"></app-alert>
  <app-alert [alert]="title"></app-alert>
  <app-alert [alert]="title"></app-alert>
</app-alert-list> -->

<!-- Change Detection, ZoneJS and NgZones Studies -->
<!-- <app-parent></app-parent> -->

<!-- Routing Studies -->
<app-header></app-header>
<router-outlet></router-outlet>
